<nav class="navbar navbar-expand-lg navbar-expand-sm" style="background-color: #ea4258;" data-bs-theme="light">
    <div class="container" >
        <a href="{{ path ('home') }}">
            <img src="{{ asset('pics/ChatGPT Image 31 juil. 2025, 16_15_58 (1).png') }}" alt="WaveForm" class="d-inline-block align-text-top" >
        </a>
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path ('app_show_news') }}">News</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Genre
                    </a>
                    <ul class="dropdown-menu">
                        {% for genre in getGenres() %}
                            <li>
                                <a class="dropdown-item"
                                   href="{{ path ('app_show_genre', {'type': genre.type}) }}"> {{ genre.type }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="justify-content-end">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_posts') }}">
                            Admin Panel
                        </a>
                    </li>
                {% endif %}
                {% if app.user is null %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">
                            Register
                        </a>
                    </li>
                {% endif %}
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        Se déconnecter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_profil') }}">
                        Mon profil
                    </a>
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>
