<nav class="navbar navbar-expand-lg" style="background-color: #ea4258;" data-bs-theme="light">
    <div class="container" >
        <a class="navbar-brand" href="{{ path ('home') }}">
            <img src="{{ asset('pics/Capture d’écran_2025-06-10 091203.jpg') }}" alt="WaveForm" width="30" height="24" class="d-inline-block align-text-top">
            WaveForm
        </a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0c">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path ('app_show_news') }}">News</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Genre
                    </a>

                    <ul class="dropdown-menu">
                {% for genre in getGenres() %}
                    <li>
                    <a class="dropdown-item"
                        href="{{ path ('app_show_genre', {'type': genre.type}) }}"> {{ genre.type }}</a>
                    </li>
                {% endfor %}
                    </ul>
                    <div class="justify-content-end">
                        <ul class="navbar-nav">
                            {% if app.user is null %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">
                                        Login
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_register') }}">
                                        Register
                                    </a>
                                </li>
                            {% else %}
                                {#                            <li class="nav-item">#}
                                {#                                <a class="nav-link" href="{{ path('app_user_index', {'name': app.user.name}) }}">#}
                                {#                                    Mon profil#}
                                {#                                </a>#}
                                {#                            </li>#}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('admin_posts') }}">
                                        Admin category
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}">
                                        Se déconnecter
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>
