{% extends 'base.html.twig' %}

{% block body %}

    <h1> Liste des Posts</h1>

    {% for message in app.flashes('post_success') %}
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Succès',
                text: ' commentaire ajoute avec succes ',
                confirmButtonColor: '#3085d6'
            });
        </script>
    {% endfor %}

    <table class="table table-striped">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titre Principal</th>
            <th scope="col">Photo Central</th>
            <th scope="col">Contenu </th>
            <th scope="col">Lien Instagram (ID)</th>
            <th scope="col">Titre Milieu</th>
            <th scope="col">2eme Contenu</th>
            <th scope="col">Voir le Post </th>
            <th scope="col">Modifier le Post</th>
            <th scope="col">Supprimer le Post</th>
        </tr>
        {% for post in posts %}
            <tbody>
            <tr>
                <th scope="row"> {{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.pathPicPost }}</td>
                <td>{{ post.body |slice (0,100) ~ "..." }} </td>
                <td>{{ post.LinkSocials }}</td>
                <td>{{ post.TitleCenter }}</td>
                <td>{{ post.BodyCenter |slice (0,100) ~ "..." }}</td>
                <td> <a href="{{ path('app_show_post', {'id': post.id}) }}">
                        <i class="fa-solid fa-eye"></i>
                    </a></td>
                            <td> <a href="{{ path('admin_edit_post', {'id': post.id}) }}">
                                    <i class="fa-solid fa-edit"></i>
                                </a></td>
                          <td> <a href="{{ path('admin_delete_post', {'id': post.id}) }}">
                                  <i class="fa-solid fa-trash"></i>
                               </a></td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(posts) }}
    </div>

    <button>
        <a href="{{ path ('admin_add_post') }}"> Ajouter Un Post </a>
    </button>
{% endblock %}

